body{
    background-image:url('army-hospital.jpg');
    background-size:cover;
    background-attachment:fixed;
    font-family: sans-serif;
    
}


.main_header{ width: 100%;
    background:#3e3d3d;
    opacity: 0.75; 
    padding: 40px 20px;
    box-sizing: border-box; 
    position: fixed; }
h1{text-align: center; 
    color: #fff; 
    font-weight: normal;
    margin-bottom: 20px;}

.field{ width: 320px;
    border-radius: 20px;
    border: 1px solid #a4b15c;
    text-align: center;
    background:#3e3d3d;  
    opacity: 0.75; 
    padding: 40px 20px;
    position: fixed; 
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%);}
        

button{
    width: 100%;
    border: 1px;
    border-radius: 20px; 
    padding: 6px 15px; 
    box-sizing: border-box;
    margin-bottom: 20px; 
    font-size: 16px;
    background:#a4b15c;
    cursor: pointer; 
    color:black;
    font-weight: bold;

}

button:hover{
    background: #636941; 
    transition: .6s;

}